*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
input[type="radio"]{
	vertical-align:-1px;
}
.s_block{
	   
}
.s_type{
	font-size:16px;
	margin:5px 0;
	display:inline-block;
	padding: 3px 6px;
	border-radius: 5px;
	line-height: 1;
	cursor:pointer;
}
.s_group{
	font-size:16px;
	margin:5px 0;
	display:inline-block;
	padding: 3px 2px;
	border-radius: 5px;
	line-height: 1;
	cursor:pointer;
}
.s_type_sel{
	background-color: #3841e6;
	color: #fff;
}
.s_group_sel{
	
}
.s_image{
	width:127px;
	vertical-align:-10px;
	margin-right: 16px;
}
#s_keys option{
	font-size:20px;
}
#s_text{
	line-height: 18px;
	border:1px solid #aaa;
	font-size: 16px;
	line-height: 39px;
	border-radius:0;
	width: 500px;
	vertical-align:0px;
	border:solid 2px #1b25de;
	height:42px;
	text-indent: 10px;
}
#s_text:focus{
	outline:none;
}
#s_btn{
	color:#FFF;
	border:none;
	height:42px;
	font-size:14px;
	padding: 0px 46px;
	cursor:pointer;
	line-height: 39px;
	font-weight:bold;
	border-radius:0;
	background:#1b25de;
	border:solid 2px #1b25de;
}